.slider-doc-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-doc-container section {
  overflow-x: auto;
}

.slider-doc-container *[hidden] {
  display: inherit !important;
}

.slider-doc-scrollable-slide {
  height: 700px;
  overflow-y: auto !important;
}
